@model dynamic;

@{
    ViewData["Title"] = "Productos";
}

<div>
    <button>@Html.ActionLink("Ver Ventas", "VentaDetail")</button>
</div>


@{
    DateTime today = DateTime.Now;
    DateTime minDate = today.AddDays(-7);
    DateTime maxDate = today;

    string minDateString = minDate.ToString("yyyy-MM-dd");
    string maxDateString = maxDate.ToString("yyyy-MM-dd");
}
<h2>@Model.Username</h2>


<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Nombre</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
       
            @foreach (var item in Model.NewList)
            {
                <tr>
                    <td>@item.ProductoId</td>
                    <td>@item.ProductoNombre</td>
                    <td>@item.CategoriaNombre</td>
                <td>
                    <form id="FormCompra" action="@Url.Action("CompraProducto","Compra")" method="post">
                        <input type="hidden" id="id-@item.ProductoId" name="productoID" value="@item.ProductoId" />
                        <input type="number" id="cantidad-@item.ProductoId" name="cantidad" value="" min="1" />
                        <input type="date" id="fechaCompra-@item.ProductoId" name="fechaCompra" min="@minDateString" max="@maxDateString" required />
                        <button type="Submit" id="btnComprar">Comprar</button>
                    </form>
                    <form id="FormVenta" action="@Url.Action("VentaProducto","Compra")" method="post">
                        <input type="hidden" id="id-@item.ProductoId" name="productoID" value="@item.ProductoId" />
                        <input type="number" id="cantidad-@item.ProductoId" name="cantidad" value="" min="1" />
                        <button type="Submit" id="btnVender">Vender</button>
                    </form>

                </td>
                <td>

                </td>
                </tr>
            }
       
       
    </tbody>
</table>
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        alert('@TempData["Message"]');
    </script>
}