@model dynamic;

@{
    ViewData["Title"] = "Productos";
}

<div>
    <button>@Html.ActionLink("Ver Ventas", "VentaDetail")</button>
</div>
<h2>@Model.Username</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Nombre</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
       
            @foreach (var item in Model.NewList)
            {
                <tr>
                    <td>@item.ProductoId</td>
                    <td>@item.ProductoNombre</td>
                    <td>@item.CategoriaNombre</td>
                <td>
                    <form id="FormCompra" action="@Url.Action("CompraProducto","Compra")" method="post">
                        <input type="number" id="cantidad-@item.ProductoId" name="cantidad" value="" min="1" />
                        <input type="date" id="fechaCompra-@item.ProductoId" name="fechaCompra" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                        <button type="Submit" id="btnComprar">Comprar</button>
                    </form>
                    <form id="FormVenta" action="@Url.Action("Venta","Compra")" method="post">
                        <input type="number" id="cantidad-@item.ProductoId" name="cantidad" value="" min="1" />
                        <input type="date" id="fechaVenta-@item.ProductoId" name="fechaVenta" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                        <button type="Submit" id="btnVender">Vender</button>
                    </form>

                </td>
                <td>

                </td>
                </tr>
            }
       
       
    </tbody>
</table>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        alert('@ViewBag.Message');
    </script>
}

