@model  IEnumerable<UTN.Inc.Entities.VentaDTO>
@{
    ViewData["Title"] = "VentaDetail";
}

<h1>VentaDetail</h1>

<table class="table">
    <thead>
        <tr>
            <th>Venta ID</th>
            <th>Fecha</th>         
            <th>Usuario ID</th>
            <th>Usuario</th>
            <th>Producto ID</th>
            <th>Producto</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.VentaID</td>
                <td>@item.Fecha</td>
                <td>@item.UsuarioID</td>
                <td>@item.NombreUsuario</td>
                <td>@item.ProductoID</td>
                <td>@item.NombreProducto</td>
                <td>@item.Cantidad</td>
            </tr>
        }


    </tbody>
</table>
<button type="button" onclick="location.href='@Url.Action("Profile", "Compra")'">Volver a Profile</button>
